
@{
    ViewData["Title"] = "İmza Rotaları";
}

<div class="container-fluid py-4">
    @await Component.InvokeAsync("PageHeader", new PageHeaderModel
    {
        Title = "İmza Rota Listesi",
        BreadcrumbParent = "Onay İşlemleri",
        BreadcrumbCurrent = "İmza Rota Tanımlama",
        NewActionUrl = "/ImzaRota/ImzaRotaAdd",
        NewActionText = "Yeni Gelen Evrak"
        })

    <div class="card border-0 shadow-sm rounded-3">
        <div class="card-body p-0">
            <div id="rotaListGrid"></div>
        </div>
    </div>
</div>


<script src="~/js/ImzaRota/imza-rota-liste.js"></script>

