<div class="card shadow-sm border-0">
    <div class="card-header bg-white py-3">
        <h5 class="mb-0 text-primary d-flex align-items-center">
            <i class="fas fa-file-signature me-2"></i> İmza Bekleyen Evraklar
        </h5>
    </div>
    <div class="card-body p-0">
        <div id="gridImzaBekleyenler"></div>
    </div>
</div>

<script src="~/js/Evrak/imza-bekleyen-evrak.js"></script>