<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2026.1.212 (MainPackage)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2026 Q1\wrappers\aspnetcore\Binaries\AspNet.Core" />
    <add key="Telerik UI for ASP.NET Core 2026.1.212 (AdditionalPackages)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2026 Q1\dpl" />
  </packageSources>
</configuration>