<div class="p-3">
    <h6 class="fw-bold"><i class="k-icon k-i-user"></i> Alıcı Ekle</h6>
    <div class="row g-2 mb-3">
        <div class="col-md-8">
            @(Html.Kendo().MultiSelect()
                .Name("muhatapSecici")
                .DataTextField("adi")
                .DataValueField("id")
                .Placeholder("Seçiniz...")
                .AutoBind(false)
                .DataSource(source => {
                    source.Read(read => read.Url("https://localhost:7060/api/Muhatap/TumMuhataplar").Type(HttpVerbs.Get));
                })
            )
        </div>
        <div class="col-md-4 d-flex gap-2">
            <button type="button" onclick="AliciModule.aliciEkle(false)" class="btn btn-outline-primary w-100">
                <i class="k-icon k-i-check"></i> Gereği
            </button>
            <button type="button" onclick="AliciModule.aliciEkle(true)" class="btn btn-outline-info w-100">
                <i class="k-icon k-i-info"></i> Bilgi
            </button>
        </div>
    </div>
    <div id="muhatapGrid"></div>
</div>

<script src="~/js/evrak/alici-bilgileri.js"></script>