
<div class="container-fluid py-4">
    <div class="card shadow-sm border-0">
        @await Component.InvokeAsync("PageHeader", new PageHeaderModel
        {
            Title = "Tüzel Kişi Alıcı Listesi",
                BreadcrumbParent = "Alıcılar",
                BreadcrumbCurrent = "Tüzel Kişi Alıcı Listesi",
                NewActionUrl = "/TuzelKisiMuhatap/Ekle",
                NewActionText = "Yeni Kayıt"
                })


     

        <div class="card-body p-0">
            <div id="rotaListGrid"></div>
        </div>
    </div>
</div>



<script src="~/js/TuzelKisiMuhatap/listele.js"></script>