




<div class="container-fluid py-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-white py-3">
            @await Component.InvokeAsync("PageHeader", new PageHeaderModel
            {
                Title = "Kurum Alıcı Listesi",
                        BreadcrumbParent = "Alıcılar",
                        BreadcrumbCurrent = "Kurum Alıcı Listesi",
                        NewActionUrl = "/KurumMuhatap/Ekle",
                        NewActionText = "Yeni Kayıt"
                        })

     



        <div class="card-body p-0">
            <div id="rotaListGrid"></div>
        </div>
    </div>
</div>
</div>



<script src="~/js/KurumMuhatap/listele.js"></script>

