




<div class="container-fluid py-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-white py-3">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h4 class="m-0">
                        <span class="k-icon k-i-file-pdf"></span>Kurum Alıcı Listesi
                    </h4>
                </div>
                <div class="col-md-6 text-end">
                    <a href="/KurumMuhatap/Ekle" class="btn btn-primary btn-sm shadow-sm px-3 fw-bold">
                        <i class="k-icon k-i-plus me-1"></i>Yeni Kurum Ekle
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="mb-0 mt-3" />
            </div>
        </div>

        <div class="bg-light border-bottom px-3 py-3">
            <div class="row g-2 align-items-end">
                <div class="col-md-5">
                    <label class="form-label small fw-bold text-muted">Kurum Adı</label>
                    <input type="text" id="filterKurumAdi" class="form-control form-control-sm custom-filter-input" >
                </div>
                <div class="col-md-5">
                    <label class="form-label small fw-bold text-muted">Adres</label>
                    <input type="text" id="filterKurumKodu" class="form-control form-control-sm custom-filter-input" >
                </div>
               
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm w-100 fw-bold" onclick="filterRotaGrid()">
                        <i class="fas fa-search me-1"></i> Sorgula
                    </button>
                </div>
            </div>
        </div>

        <div class="card-body p-0">
            <div id="rotaListGrid"></div>
        </div>
    </div>
</div>




<script src="~/js/KurumMuhatap/listele.js"></script>

