
<div class="card shadow-sm border-0">
    @await Component.InvokeAsync("PageHeader", new PageHeaderModel
    {
        Title = "İmza Bekleyen Listele",
        BreadcrumbParent = "Onay İşlemleri",
        BreadcrumbCurrent = "İmza Bekleyen Listele",
        FilterJsFunction = "GelenEvrakListModule.openFilterWindow()",
        NewActionUrl = "/GelenEvrak/EvrakOlustur",
        NewActionText = "Yeni Gelen Evrak"
        })

    <div class="card-body p-0">
        <div id="gridBekleyenler"></div>
    </div>
</div>


<div hidden>
    @await Html.PartialAsync("Components/_EvrakOnizlemePartial")

</div>


<script src="~/js/GidenEvrak/imza-bekleyen-evrak.js"></script>
        