
<div id="onizlemeDialog">
    <div class="d-flex h-100">

        <div class="flex-grow-1 position-relative bg-dark">
            <div id="onizleme-yukleniyor" class="text-center mt-5 text-white" style="display:none; position: absolute; width: 100%; z-index: 99;">
                <div class="spinner-border text-light"></div><br>Yükleniyor...
            </div>

            <iframe id="pdf-frame-popup"
                    src="about:blank"
                    style="width: 100%; height: 100%; border: none; display: block;">
            </iframe>
        </div>
    </div>
</div>


<script src="~/js/Modules/EvrakOnizlemeModule.js"></script>



