.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

.btn-grid-action {
    padding: 6px 16px !important;
    font-size: 13px !important;
    border-radius: 20px !important;
    font-weight: 600 !important;
}

.badge {
    padding: 6px 10px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
}

.bg-info {
    background-color: #e0f2fe !important;
    color: #0369a1 !important;
}

.bg-warning {
    background-color: #fef3c7 !important;
    color: #b45309 !important;
}
