
<div class="card shadow-sm border-0">
    @await Component.InvokeAsync("PageHeader", new PageHeaderModel
    {
        Title = "Paraf Bekleyen Listele",
        BreadcrumbParent = "Onay İşlemleri",
        BreadcrumbCurrent = "Paraf Bekleyen Listele",
        FilterJsFunction = "GelenEvrakListModule.openFilterWindow()",
        NewActionUrl = "/GelenEvrak/EvrakOlustur",
 
        })


    <div class="card-body p-0">
        <div id="gridBekleyenler"></div>
    </div>
</div>

<div hidden>
    @await Html.PartialAsync("Components/_EvrakOnizlemePartial")

</div> 




<script src="~/js/GidenEvrak/paraf-bekleyen-evrak.js"></script>